{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "6",
          "uglify": false
        }
      }
    ]
  ],
  "plugins": [
    "transform-es2015-modules-commonjs",
    "transform-class-properties",
    "babel-plugin-transform-object-rest-spread"
  ]
}
