{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current",
          "uglify": false
        }
      }
    ]
  ],
  "plugins": [
    "transform-es2015-modules-commonjs",
    "transform-class-properties",
  ]
}
